body {
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","微软雅黑", "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}
.login-page {
    background-image: url("/backend/images/login_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100%;
}
.login-box-msg {
    font-size: 3em;
    color: #eee;
}

.login-page-main {
    width: 35%;
    position: absolute;
    right: 11%;
    top: 16%;
    height: 58%;
}

.login-box-body {
    padding-top: 12%;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    z-index: 2;
}

.login-box-body {
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    z-index: 2;
}

.login-box-body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    z-index: -3;
    background-image: url('/backend/images/login_bg.jpg');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.login-box-form {
    padding: 5% 12%;
}

.login-box-form > form > .form-group {
    margin-bottom: 8%;
}
.login-box, .login-box-body{
    width: 100%;
    margin: auto;
    height: 100%;
    background: none;
}

.tr-pointer {
    cursor: pointer;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 50px;
}
.set-actions-icons-list {
    margin-left: auto;
    margin-right: auto;
}
.main-sidebar {
    z-index: 0;
}
.set-actions-icons-list > thead > tr > td {
    padding-bottom: 10px;
    min-width: 38px;
}
.set-actions-icons-list > tbody > tr > td {
    min-width: 38px;
}

.set-actions-icon-label {
    width: 100%;
    font-weight: normal;
}

.set-action-icon, .set-actions-icon-button {
    width: 38px;
    text-align: center;
    max-width: 38px;
}

.tree-menu {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.department-name {
    display: inline-block;
    margin-left: 10px;
    height: 32px;
    line-height: 32px;
}

.tree-menu > li > a {
    display: inline-block;
    width: 100%;
}

.tree-menu > li > a:hover {
    background-color: #eee;
}

.tree-menu > li.active > a:hover{
    background-color: #5dade2;
}

.tree-menu > li.active {
    background-color: #5dade2;
}

.tree-menu > li.active > a {
    color: #ffffff;
}

.level0 {
    margin-left: 12px;
}

.level1 {
    margin-left: 24px;
}

.level2 {
    margin-left: 36px;
}

.level3 {
    margin-left: 48px;
}

.level4 {
    margin-left: 60px;
}

.departments-submit-form > .form-group {
    margin-right: 0;
    margin-left: 0;
}

.select-module-departments {
    vertical-align: top;
}

.department-group {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.department-group > div.checkbox {
    display: inline-block;
    margin-right: 20px;
}

.department-group > hr {
    margin-top: 10px;
    margin-bottom: 7px;
}
.special-layout > .row {
     margin-right: -5px;
     margin-left: -5px;
}

.special-name {
    border: 2px solid #eee;
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: none;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.special-layout-img-container.col-xs-1,
.special-layout-img-container.col-xs-10,
.special-layout-img-container.col-xs-11,
.special-layout-img-container.col-xs-12,
.special-layout-img-container.col-xs-2,
.special-layout-img-container.col-xs-3,
.special-layout-img-container.col-xs-4,
.special-layout-img-container.col-xs-5,
.special-layout-img-container.col-xs-6,
.special-layout-img-container.col-xs-7,
.special-layout-img-container.col-xs-8,
.special-layout-img-container.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.special-layout-img-container {
    margin-bottom: 10px;
    cursor: pointer;
}

.ue-container > .edui1 {
    z-index: 9999;
}